{% extends 'base-without-nav.html.twig' %}

{% block title %}Edit
	{{ category.Name }}
	Category - BOOKWORM
{% endblock %}

{% block body %}
	{% if app.user %}
		<div class="container">

			<h1>Edit Category</h1>

			{{ include('category/_form.html.twig', {'button_label': 'Update'}) }}
			<a class="btn btn-dark" href="{{ path('app_category_index') }}">Back to list</a>
			{{ include('category/_delete_form.html.twig') }}
		</div>
	{% endif %}
{% endblock %}
