{% extends 'base-without-nav.html.twig' %}
{% block title %}New Category - BOOKWORM
{% endblock %}

{% block body %}
	{% if app.user %}
		<div class="container">
			<h1>Create new Category</h1>

			{{ include('category/_form.html.twig') }}

			<a class="btn btn-dark" href="{{ path('app_category_index') }}">Back to category list</a>
		</div>
	{% endif %}
{% endblock %}
