<div class="container">
	<footer class="py-5">
		<div class="row">
			<div class="col-6 col-md-2 mb-3">
				<h5>Category</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="http://localhost:8000/product/listing?category=2" class="nav-link p-0 text-muted">Snack</a>
					</li>
					<li class="nav-item mb-2">
						<a href="http://localhost:8000/product/listing?category=1" class="nav-link p-0 text-muted">Drink</a>
					</li>
					<li class="nav-item mb-2">
						<a href="http://localhost:8000/product/listing?category=3" class="nav-link p-0 text-muted">Stationary</a>
					</li>
				</ul>
			</div>

			<div class="col-6 col-md-2 mb-3">
				<h5>More Information</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="https://www.facebook.com/the.kietuanguyen/" class="nav-link p-0 text-muted">Facebook</a>
					</li>
					<li class="nav-item mb-2">
						<a href="https://mail.google.com/mail/u/1/?fs=1&to=kietntgdd210002@fpt.edu.vn&tf=cm" class="nav-link p-0 text-muted">Mail</a>
					</li>
					<li class="nav-item mb-2">
						<a href="https://github.com/KieTuaNguyen" class="nav-link p-0 text-muted">Github</a>
					</li>
				</ul>
			</div>


			<div class="col-md-5 offset-md-1 mb-3">
				<form>
					<h5>Subscribe to our newsletter</h5>
					<p>Monthly digest of what's new and exciting from us.</p>
					<div class="d-flex flex-column flex-sm-row w-100 gap-2">
						<label for="newsletter1" class="visually-hidden">Email address</label>
						<input id="newsletter1" type="text" class="form-control" placeholder="Email address">
						<button class="btn btn-warning" type="button">Subscribe</button>
					</div>
				</form>
			</div>
		</div>

		<div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
			<button type="button" class="btn btn-outline-warning">© ngoitrong.toilet_gaothet.tenem@yahoocom</button>
		</div>
	</footer>
</div>
