<div class="container">
	<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
			<span class="fs-4"><img src="{{ asset('images/product/logo.png') }}" width="150">
			</span>
		</a>

		<ul class="nav nav-pills">
			<li class="nav-item">
				<a href="#" class="btn btn-warning" aria-current="page">Home</a>
			</li>
			<li class="nav-item">
				<a href="#" class="btn btn-light">About</a>

			</li>
		</ul>
	</header>
</div>
